body {
    font-family: helvetica;
  }
  
  ul {
    font-family: monospace;
  }

li {
  list-style: circle;
}

.list {
  list-style: square;
}

.timer {
    font-size: 2.5em;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    background: #ccc;
  }
  
#date {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}